@model IEnumerable<Cart>

<section class="h-100">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0">Shopping Cart</h3>
          <div>
            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                  class="fas fa-angle-down mt-1"></i></a></p>
          </div>
        </div>

        @foreach(var item in Model)
        {
            <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="~/images/products/@item.Product.MainImg"
                  class="img-fluid rounded-3" alt="Product Img">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">@item.Product.Name</p>
                <p><span class="text-muted">@item.Product.Description</span></p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <a href="/Customer/Cart/DecrementCount?productId=@item.Product.Id" data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2">
                  <i class="fas fa-minus"></i>
                </a>

                <input id="form1"  value="@item.Count" disabled type="number"
                  class="form-control form-control-sm" />

                <a href="/Customer/Cart/IncrementCount?productId=@item.Product.Id" data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2">
                  <i class="fas fa-plus"></i>
                </a>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">@item.TotalPrice.ToString("c")</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="/Customer/Cart/Delete?productId=@item.Product.Id" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>     
        }

        <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <form>
                <div data-mdb-input-init class="form-outline flex-fill">
              <input type="text" name="promotionCode" id="form1" class="form-control form-control-lg" />
              <label class="form-label" for="form1">Discound code</label>
            </div>
            <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-warning btn-lg mt-3">Apply</button></form>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <a asp-action="Pay" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-block btn-lg">Proceed to Pay</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

@section Scripts {
    <partial name="_NotificationPartial" />
}