@model Order

<div class="container h-50 px-4 py-5 mx-auto">
    <div class="card bg-light shadow-lg border border-dark rounded-lg py-3 px-5 my-5">
        <div class="row d-flex justify-content-between mx-5 pt-3 my-3">
            <div class="d-flex">
                <p class="h5 text-dark">
                    <i class="text-primary bi bi-cart3 me-1"></i>
                    Order ID :
                    <span class="text-success font-weight-bold">
                        <i class="text-dark bi bi-hash me-1"></i>@Model.Id
                    </span>
                </p>
            </div>
            <div class="d-flex flex-column text-sm-right h5">
                <p class="mb-0 font-weight-bolder text-monospace">
                    Expected Arrival
                    @if (Model.ShippedDate.HasValue)
                    {
                        <span class="badge badge-pill badge-primary border border-secondary text-dark font-weight-bold px-2 py-2 shadow">
                            @Model.ShippedDate
                        </span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-primary border border-secondary text-dark font-weight-bold px-2 py-2 shadow">
                            Not Shipped!!
                        </span>
                    }
                </p>
                <p class="font-weight-bold text-monospace pt-3 ml-5">
                    Tracking ID
                    <span class="badge badge-pill badge-danger border border-secondary text-dark font-weight-bold mx-1 px-2 py-2 shadow">
                        @Model.TrackingNumber
                    </span>
                </p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid p-2 align-items-center">
                        <div class="d-flex justify-content-around">

                            @if (Model.OrderStatus == OrderStatus.InProcessing)
                            {
                                <button class="btn bg-success text-white rounded-circle" data-bs-toggle="tooltip" title="Order Confirmed">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                                <span class="bg-danger w-50 p-1 mx-n1 rounded mt-auto mb-auto"></span>
                                <button class="btn bg-secondary text-white rounded-circle" data-bs-toggle="tooltip" title="Order Shipped">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                                <span class="bg-danger w-50 p-1 mx-n1 rounded mt-auto mb-auto"></span>
                                <button class="btn bg-secondary text-white rounded-circle" data-bs-toggle="tooltip" title="Out for delivery" style="z-index:1">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                                <span class="bg-danger w-50 p-1 mx-n1 rounded mt-auto mb-auto"></span>
                                <button class="btn bg-secondary text-white rounded-circle" data-bs-toggle="tooltip" title="Order Delivered">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                            }

                            else if (Model.OrderStatus == OrderStatus.Shipped)
                            {
                                <button class="btn bg-success text-white rounded-circle" data-bs-toggle="tooltip" title="Order Confirmed">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                                <span class="bg-success w-50 p-1 mx-n1 rounded mt-auto mb-auto"></span>
                                <button class="btn bg-success text-white rounded-circle" data-bs-toggle="tooltip" title="Order Shipped">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                                <span class="bg-danger w-50 p-1 mx-n1 rounded mt-auto mb-auto"></span>
                                <button class="btn bg-secondary text-white rounded-circle" data-bs-toggle="tooltip" title="Out for delivery" style="z-index:1">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                                <span class="bg-danger w-50 p-1 mx-n1 rounded mt-auto mb-auto"></span>
                                <button class="btn bg-secondary text-white rounded-circle" data-bs-toggle="tooltip" title="Order Delivered">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                            }

                            else if (Model.OrderStatus == OrderStatus.OnTheWay)
                            {
                                <button class="btn bg-success text-white rounded-circle" data-bs-toggle="tooltip" title="Order Confirmed">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                                <span class="bg-success w-50 p-1 mx-n1 rounded mt-auto mb-auto"></span>
                                <button class="btn bg-success text-white rounded-circle" data-bs-toggle="tooltip" title="Order Shipped">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                                <span class="bg-success w-50 p-1 mx-n1 rounded mt-auto mb-auto"></span>
                                <button class="btn bg-success text-white rounded-circle" data-bs-toggle="tooltip" title="Order Shipped">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                                <span class="bg-danger w-50 p-1 mx-n1 rounded mt-auto mb-auto"></span>
                                <button class="btn bg-secondary text-white rounded-circle" data-bs-toggle="tooltip" title="Order Delivered">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                            }

                            else if (Model.OrderStatus == OrderStatus.Completed)
                            {
                                <button class="btn bg-success text-white rounded-circle" data-bs-toggle="tooltip" title="Order Confirmed">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                                <span class="bg-success w-50 p-1 mx-n1 rounded mt-auto mb-auto"></span>
                                <button class="btn bg-success text-white rounded-circle" data-bs-toggle="tooltip" title="Order Shipped">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                                <span class="bg-success w-50 p-1 mx-n1 rounded mt-auto mb-auto"></span>
                                <button class="btn bg-success text-white rounded-circle" data-bs-toggle="tooltip" title="Order Shipped">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                                <span class="bg-success w-50 p-1 mx-n1 rounded mt-auto mb-auto"></span>
                                <button class="btn bg-success text-white rounded-circle" data-bs-toggle="tooltip" title="Order Shipped">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                            }

                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-around my-3 py-4">
                <div class="col d-flex flex-column align-items-center">
                    <i class="text-primary bi bi-clipboard-check fs-1 mb-2"></i>
                    <p class="text-dark font-weight-bolder text-center mb-0">Order<br>Confirmed</p>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <i class="text-warning bi bi-box-seam fs-1 mb-2"></i>
                    <p class="text-dark font-weight-bolder text-center mb-0">Order<br>Shipped</p>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <i class="text-info bi bi-truck fs-1 mb-2"></i>
                    <p class="text-dark font-weight-bolder text-center mb-0">Out for<br>Delivery</p>
                </div>
                <div class="col d-flex flex-column align-items-center">
                    <i class="text-success bi bi-house-door fs-1 mb-2"></i>
                    <p class="text-dark font-weight-bolder text-center mb-0">Order<br>Delivered</p>
                </div>
            </div>
        </div>

        
    </div>
</div>